.language-selector {
  .MuiPaper-root {
    border-radius: 10px;
  }

  button {
    color: black;
    background-color: white;
    padding: 8px 16px;
    flex-direction: column;
    height: 50px;

    &.selected {
      background-color: rgb(var(--accent));
      color: white;
    }

    .not-ready {
      color: grey;
      font-size: small;
      font-style: italic;
      text-transform: none;
    }

    &:hover {
      background-color: rgb(var(--accent));
      color: white;

      .not-ready {
        color: inherit;
      }
    }
  }
}