---
import Header from "../components/Header.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Privacy Policy">
  <main>
    <Header title="Privacy Policy" description="" />
    <h2>Information We Collect</h2>
    <h3>Personal Information</h3>
    <p>When you submit a story through the Google Form on</p>
    <h3>Cookies</h3>
    <p>We use cookies on our website to</p>
    <h2>Your Rights</h2>
    <h2>Third Party</h2>
    <!-- https://www.reddit.com/policies/privacy-policy -->
  </main>
</MainLayout>
