---
import SupporterCard from "@components/SupporterCard.astro";
import MainLayout from "@layouts/MainLayout.astro";
import Header from "@components/Header.astro";
---

<MainLayout
  title="Supporters"
  description={"Organizational and individual supporters."}
>
  <main>
    <Header
      title="Supporters"
      description="Meet our amazing supporters from around the world! From world leaders to artists, we have diverse supporters who are changing the world. "
    />
    <div class="supporter-recruit">
      <div class="left">
        <h2>
          We are always open for new supporting members and organizations for
          collaboration
        </h2>
        <p>
          We are looking forward for various ways to collaborate with you.
          Educational, business, events, holding galleries, you name it! Please
          send us a message from the <a href="/contact" aria-label="Contact us"
            >contact page</a
          > if this sounds like a good idea!
        </p>
      </div>
      <div class="right">
        <img
          src="/assets/images/supporter-recruit.min.png"
          alt="A heart held with two hands"
          class="on-light-invert"
        />
      </div>
    </div>
    <h2 class="section-header">Organizational supporters</h2>
    <div class="organization-container">
      <a
        href="https://www.oneyoungworld.com"
        aria-label="Visit one of our supporters, One Young World"
      >
        <img
          src="/assets/images/supporters/org-1.min.png"
          alt="Organization logos"
        />
      </a>
      <a
        href="http://unescochair.ccsv.okayama-u.ac.jp/en/index.html"
        aria-label="Visit one of our supporters, Okayama University"
      >
        <img
          src="/assets/images/supporters/org-2.min.webp"
          alt="Organization logos"
        />
      </a>
    </div>
    <h2 class="section-header">Individual supporters</h2>
    <div class="grid-container">
      <SupporterCard
        img="1"
        name="Muhammad Yunus"
        title="Founder of Grameen Bank"
        title2="2006 Nobel Peace Laureate"
        quote="Use your immagination if you want to make something happen. This book is a great example of how humankind can make impossible things happen through imagination! Young people must imagine the world they wish to live in. Imagination will create the future of mankind on this world."
      />
      <SupporterCard
        img="2"
        name="Dorji WangmoWangchuck"
        title="Queen Mother of Bhutan"
        title2="President, Tarayana Foundation"
        quote="Dear young ones, dream big to serve from your heart with compassion and spread the spirit of volunteerism. Tashi Delek."
      />
      <SupporterCard
        img="3"
        name="Elhadj As Sy"
        title="Chair, Kofi Annan Foundation"
        quote="Yeah, I hear you: Act now to shape the future you want. Your voices are indeed an expression of thought leadership that inspires, moves, gives hope and incentivizes action. Lead us today and tomorrow!"
      />
      <SupporterCard
        img="4"
        name="​​Ellen Johnson Sirleaf"
        title="​Former President of Liberia (First Female President in Africa)"
        title2="2011 Nobel Peace Laureate"
        quote="To girls and women everywhere, I issue a simple invitation. My sisters, my daughters, my friends, find your voice."
      />
      <SupporterCard
        img="5"
        name="Francesco Rocca"
        title="President, International Federation of Red Cross and Red Crescent Societies (IFRC)"
        quote="Youth are the present and the future of our world and they are the key to build a sustainable future of peace and dialogue. In our Red Cross Red Crescent family, young leaders have a critical role. I am sure this book will inspire many youth to lead the much needed change."
      />
      <SupporterCard
        img="6"
        name="Mary Robinson"
        title="Former President of Ireland"
        title2="Chair, The Elders"
        quote="The Sustainable Development Goals (SDGs) are the blueprint to achieving a healthier, fairer and more equal future for all. This book captures the vital voices and experiences of young leaders as they dare to dream of this better world that we need to create together to reach the goals."
      />
      <SupporterCard
        img="7"
        name="Kate Robertson"
        title="Co-Founder, One Young World"
        quote="The impact this book will have on its readers cannot be overstated. I have no doubt that these stories will inspire even more young leaders to drive forward to a better world for us all."
      />
      <SupporterCard
        img="8"
        name="Kimy Okubo"
        title="Chair, One Young World Japan Committee"
        quote="Linked values for a small planet. Bringing people together from across cultures, and encouraging them to meet, talk and brainstorm is the spark that ignites revolutionary innovation. Add professionalism, authentic commitment, and trust, and you get partnerships that can overcome any challenge."
      />
      <SupporterCard
        img="9"
        name="Bernd Montag"
        title="CEO, Siemens Healthineers"
        quote="We live in diff erent countries, but we share the same earth. And while our brains create diff erent thoughts, we share the same dream: to live a happy, long and healthy life in peace on that earth. It’s a humble dream, but it takes courage. Let’s shape it, together."
      />
      <SupporterCard
        img="10"
        name="Carol Lynch"
        title="Chief Business Offi cer, Sandoz"
        quote="Despite advances in modern medicine, many people around the world still don’t have access to the treatments they need. We are working hard to change that. Let’s continue to work together as a community to make our collective dreams a reality for patients around the world."
      />
      <SupporterCard
        img="11"
        name="​​Jorge Garduño"
        title="President, The Coca-Cola Company Japan and South Korea"
        quote="A deafening wake up call. 201 dreams that represent billions of voices from every corner of the world calling for us to act. 201 reasons to believe that it might be about time to hand leadership to the new generations."
      />
      <SupporterCard
        img="12"
        name="Ron Garan"
        title="Former NASA Astronaut"
        quote="From space, it is obvious and undeniable that we are one people traveling through the universe together on one planet toward one shared future. This book truly highlights our potential as a species to rise above our perceived diff erences and solve our shared challenges. We have the capability (especially the youth of the world) to build the future we would all want to be a part of."
      />
      <SupporterCard
        img="13"
        name="Anthony Francis“Tony”Fernandes"
        title="CEO, AirAsia Group"
        quote="Deeply moved by the stories of perseverance and triumph told in the voices of many young men and women from all walks of life. Their stories of never giving up and daring to dream will inspire many who believe in making this world a better place."
      />
      <SupporterCard
        img="14"
        name="Eugene Chien"
        title="Diplomat and Former Minister of Foreign Affairs of the Republic of China"
        quote="Youth have the ability to contribute to society, promote corporate sustainability, and reduce the negative impacts for the environment and society, creating a sustainable world for the next generation."
      />
      <SupporterCard
        img="15"
        name="Marija Pejčinović Burić"
        title="Secretary General of the Council of Europe"
        quote="These testimonies confirm our belief that sustainable development can only be achieved if firmly grounded on the respect of human rights, the rule of law and democracy—the core values the Council of Europe protects and promotes. The 2030 Agenda for Sustainable Development offers a global framework for our action."
      />
      <SupporterCard
        img="16"
        name="Jan Peter Balkenende"
        title="Former Prime Minister of the Netherlands"
        quote="We have to dream about our common home, a world in which no one will be left behind and everyone has a sustainable future on this planet. And we have to do our utmost to make these dreams reality. So, inspire, innovate and implement! We Have a Dream is a powerful compass for our future and an urgent call to action."
      />
      <SupporterCard
        img="17"
        name="Ai"
        title="Artist"
        quote="A world where everyone can dream! So awesome! And getting to know each other and help each other? That’s awesome, too! I feel as if this book can connect us all, from each dreamer in the book to each of you reading, and maybe even help heal the scars in our society. I hope we can make our new future into something we are truly excited for. Let’s dream!!!!"
      />
      <SupporterCard
        img="18"
        name="Atsufumi Yokoi"
        title="Vice President of Okayama University"
        quote="The future is not something that exists, but something that is created. To create it, we must take action. And to act, we must make friends. To make friends, we must set our ambitions. To achieve this ambition, you must have a dream. Dreams are the energy of aspiration!"
      />
      <SupporterCard
        img="19"
        name="UTA"
        title="Music Producer"
        quote="I believe that learning about the dreams of people around the world and sharing those dreams with others is the first step toward creating an ideal future in which everyone can live as they are and live equally. It may seem like a small thing, but I believe it is a very big step. I hope that this book and video will reach as many people as possible."
      />
      <SupporterCard
        img="20"
        name="Kim"
        title="Iroha Publishing"
        title2="Poet"
        quote="What if knowing someone's dream can create an opportunity to think about one's own dream.......? With this in mind, I have traveled all over Japan, collecting dreams of various people and creating books about them, and I have always had the desire to someday create a book about the dreams of people around the world.  <span class='read-more-content'>After meeting Taichi Ichikawa, this desire was finally fulfilled in ”WE HAVE A DREAM”. I am happy that the event associated with this book was held in Kyoto, where Iroha Publishing is based, and at Daigoji Temple, a World Heritage site, so that many people can learn about the dreams collected from all over the world. We believe that through this book and this event, many people will dream of a better world together!</span> <button class='read-more-button'>Read more...</button>"
      />
      <SupporterCard
        img="https://www.youtube-nocookie.com/embed/kv3f8vqkAn4"
        name="Llia Calderon"
        title="Journalist<br/> Emmy Award Winner"
        quote=""
        youtubeTitle="Llia Calderon's recommendation video for WE HAVE A DREAM"
      />
      <SupporterCard
        img="https://www.youtube-nocookie.com/embed/EBAUIoAvgGs"
        name="Terry Crews"
        title="Actor<br/> Television host<br/> Artist<br/> American Football Player"
        quote=""
        youtubeTitle="Terry Crews's recommendation video for WE HAVE A DREAM"
      />
    </div>
    <div class="notice">
      *All endorsements were received for our various projects as they are all
      relevant to our project.
    </div>
  </main>
</MainLayout>

<style lang="scss">
  main {
    margin: auto;
  }
  .supporter-recruit {
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 40px auto;
    border: 1px solid #eaeaea;
    border-radius: 40px;
    a,
    a:visited {
      color: inherit;
    }
    a:hover,
    a:focus {
      filter: brightness(0.8);
    }
    .left {
      width: 60%;
      margin: 32px;
      h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 24px;
      }
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }
    .right {
      display: flex;
      width: 40%;
      justify-content: center;
      align-items: center;
      margin-right: 16px;
      img {
        height: auto;
        width: 90%;
      }
    }
  }
  .section-header {
    font-size: 32px;
    font-weight: bold;
    width: 90%;
    max-width: 1100px;
    margin: 24px auto;
  }
  .organization-container {
    width: 90%;
    max-width: 1100px;
    margin: 36px auto;
    img {
      height: 100px;
    }
    a {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
    max-width: 1100px;
    margin: auto;
    justify-content: space-between;
    grid-row-gap: 24px;
  }
  .notice {
    text-align: left;
    font-size: 16px;
    width: 90%;
    margin: auto;
    margin-top: 24px;
  }

  @media screen and (max-width: 768px) {
    .supporter-recruit {
      flex-direction: column;
      width: 90%;
      .left {
        width: 100%;
        margin: 32px 16px;
        h2 {
          font-size: 24px;
        }
        p {
          font-size: 16px;
        }
      }
      .right {
        margin: 0;
        margin-bottom: 16px;
      }
    }
    .grid-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
</style>
