---
const count = await fetch("https://api.worldroad.org/count").then((res) =>
  res.json()
);
---

<img
  class="desktop w-full"
  src="/assets/images/cover.min.webp"
  alt="Grid Image of Diverse Individuals"
/>
<img
  class="mobile w-full"
  src="/assets/images/mobilecover.min.webp"
  alt="Grid Image of Diverse Individuals"
/>
<svg
  class="desktop"
  viewBox="0 0 916 554"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M101 176.743C229.227 164.129 262.657 155.067 387.788 133.321C466.393 119.661 550.24 100 632.405 100C684.44 100 685.438 112.954 636.336 122.873C482.175 154.017 324.992 183.938 177.242 227.073C169.406 229.361 89.0445 262.089 131.376 262.089C183.329 262.089 241.847 249.285 293.435 244.581C381.425 236.56 469.792 229.629 557.272 219.449C631.505 210.811 719.483 162 795 162C848.161 162 740.403 222.31 731.999 224.532C673.516 239.999 616.042 249.023 558.146 267.737C487.708 290.505 416.831 314.226 344.106 333.815C339.57 335.037 232.775 361.585 253.248 373.349C256.774 375.375 321.523 341.834 330.128 338.898C416.732 309.35 524.494 276.523 622.795 268.867C639.173 267.591 816.143 247.061 814.994 276.773C814.385 292.542 752.568 292.476 737.241 293.152C617.097 298.447 499.114 317.793 379.051 324.779C312.679 328.64 247.051 326.589 180.736 328.732C172.903 328.985 118.203 333.815 137.928 333.815C256.748 333.815 376.019 339.628 494.371 346.24C513.392 347.303 700.306 341.598 707.101 356.971C712.196 368.5 624.797 364.313 612.748 364.313C525.361 364.313 432.177 370.954 346.29 382.386C289.329 389.967 223.42 404.976 165.011 404.976C120.793 404.976 148.036 413.21 177.242 409.777C257.905 400.296 337.444 393.375 419.675 387.468C509.153 381.041 601.771 379.562 691.812 379.562C703.759 379.562 709.837 380.807 707.537 389.728C704.267 402.414 662.778 399.626 649.004 401.023C594.385 406.562 541.72 411.289 487.382 419.096C453.136 424.015 409.481 423.2 377.304 431.521C375.771 431.917 310.587 449.681 337.99 450.723C361.124 451.603 384.978 449.005 407.881 451.852C455.612 457.786 541.477 438.091 584.051 451.852"
    stroke="white"
    stroke-opacity="0.95"
    stroke-width="200"
    stroke-linecap="round"></path>
</svg>
<svg
  class="mobile"
  viewBox="0 0 345 318"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
>
  <path
    d="M101 125.654C126.861 121.437 133.603 118.408 158.84 111.139C174.693 106.572 191.603 100 208.174 100C218.669 100 218.87 104.33 208.967 107.646C177.876 118.057 146.175 128.059 116.377 142.478C114.796 143.243 98.5888 154.183 107.126 154.183C117.604 154.183 129.406 149.902 139.81 148.33C157.556 145.649 175.378 143.332 193.021 139.929C207.993 137.042 225.736 120.725 240.966 120.725C251.688 120.725 229.955 140.885 228.26 141.628C216.465 146.798 204.874 149.815 193.198 156.071C178.992 163.681 164.697 171.611 150.03 178.159C149.115 178.568 127.577 187.442 131.705 191.375C132.417 192.052 145.475 180.84 147.211 179.858C164.677 169.981 186.411 159.008 206.236 156.448C209.539 156.022 245.231 149.159 244.999 159.091C244.876 164.363 232.409 164.34 229.318 164.566C205.087 166.336 181.292 172.803 157.078 175.139C143.692 176.429 130.456 175.744 117.081 176.46C115.501 176.545 104.47 178.159 108.448 178.159C132.411 178.159 156.466 180.102 180.335 182.313C184.172 182.668 221.869 180.761 223.239 185.9C224.266 189.754 206.64 188.354 204.21 188.354C186.585 188.354 167.792 190.574 150.47 194.395C138.982 196.929 125.69 201.947 113.91 201.947C104.992 201.947 110.486 204.699 116.377 203.551C132.645 200.382 148.686 198.069 165.271 196.094C183.317 193.946 201.996 193.451 220.155 193.451C222.565 193.451 223.791 193.868 223.327 196.849C222.667 201.09 214.3 200.158 211.522 200.625C200.506 202.477 189.885 204.057 178.926 206.667C172.019 208.311 163.215 208.039 156.725 210.82C156.416 210.952 143.27 216.89 148.796 217.239C153.462 217.533 158.273 216.665 162.892 217.616C172.518 219.6 189.836 213.016 198.422 217.616"
    stroke="white"
    stroke-opacity="0.95"
    stroke-width="200"
    stroke-linecap="round"></path>
</svg>
<div>
  <div class="blob">
    <h1 class="text-6xl max-md:text-6xl font-extrabold">Inspired to inspire</h1>
    <h2
      class="text-2xl max-md:text-xl mt-5 mb-10"
      set:html={"<span>Dreams</span> and <span>stories</span> from over 196+ countries<br /> and " +
        count +
        " people from all walks of life."}
    />
    <a
      rel="prefetch"
      href={"/stories"}
      class="button gradient-button"
      aria-label="Read all the dream storeis from all over the world"
      >Read Stories</a
    >
  </div>
</div>
<img
  src="/assets/images/scrollformore.min.png"
  alt="Scroll for more"
  class="scroll-for-more absolute bottom-5 right-5 h-32 w-auto z-index-0"
/>
<script>
  const scrollForMore = document.querySelector(
    ".scroll-for-more"
  ) as HTMLImageElement;
  window.addEventListener("scroll", function () {
    if (window.scrollY > 10) {
      scrollForMore.style.opacity = "0";
    } else {
      scrollForMore.style.opacity = "1";
    }
  });
</script>
<style lang="scss">
  svg {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 800px;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
  }
  .blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 800px;
    max-width: 100%;
    max-height: 100%;
    color: black;
    text-align: center;
    padding: 0 30px;
    opacity: 1;
    $scrollTime: 1s;
    animation: opacity 1s ease forwards;
    &.active {
      opacity: 1;
    }
    &.inactive {
      opacity: 0;
    }
  }
  a {
    font-weight: 700;
    font-size: 24px;
  }
  .button {
    position: static;
    background-color: rgb(var(--accent));
    padding: 1rem 2rem;
    margin: 1rem;
    height: 80px;
    color: white;
    border-radius: 40px;
    text-decoration: none;
    &:hover {
      background: rgb(var(--accent));
      animation: none;
    }
  }
  @media screen and (max-width: 768px) {
    .blob {
      width: 100%;
      padding: 0 20px;
      a {
        font-size: 16px;
      }
    }
    .pagination {
      top: calc(50% + 160px);
    }
  }
</style>
