<div class="read-stories w-[85%] max-md:w-full max-w-screen-2xl mx-auto">
  <div class="map-container">
    <img
      class="map"
      src="/assets/images/covermap.min.png"
      alt="World Map with Stories"
    />
    <div class="story">
      <img src="/assets/images/covermapstory.min.png" alt="" />
      <svg viewBox="0 0 188 209" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M64 136V157L5 205"
          stroke="currentColor"
          stroke-opacity="0.8"
          stroke-width="2"></path>
        <ellipse cx="4" cy="205" rx="4" ry="4" fill="currentColor"></ellipse>
        <rect
          x="4"
          width="184"
          height="144"
          rx="20"
          fill="currentColor"
          fill-opacity="0.8"></rect>
      </svg>
    </div>
    <div id="location-1" class="location" style="top: 20%; left: 24%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-1.min.png" alt="Dreamer" />
    </div>
    <div id="location-2" class="location" style="top: 62%; left: 5%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-2.min.png" alt="Dreamer" />
    </div>
    <div id="location-3" class="location" style="top: 53%; left: 22%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-3.min.png" alt="Dreamer" />
    </div>
    <div id="location-4" class="location" style="top: 60%; left: 29%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-4.min.png" alt="Dreamer" />
    </div>
    <div id="location-5" class="location" style="top: 69%; left: 32%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-5.min.png" alt="Dreamer" />
    </div>
    <div id="location-6" class="location" style="top: 18%; left: 62%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-6.min.png" alt="Dreamer" />
    </div>
    <div id="location-7" class="location" style="top: 34%; left: 69%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-7.min.png" alt="Dreamer" />
    </div>
    <div id="location-8" class="location" style="top: 48%; left: 61%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-8.min.png" alt="Dreamer" />
    </div>
    <div id="location-9" class="location" style="top: 52%; left: 68%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-9.min.png" alt="Dreamer" />
    </div>
    <div id="location-10" class="location" style="top: 73%; left: 68%;">
      <svg viewBox="0 0 49 64" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M48.1245 24.0623C48.1245 35.0156 33.4616 54.5161 27.0325 62.5619C25.491 64.4794 22.6336 64.4794 21.0921 62.5619C14.6629 54.5161 0 35.0156 0 24.0623C0 10.7779 10.7779 0 24.0623 0C37.3466 0 48.1245 10.7779 48.1245 24.0623Z"
          fill="currentColor"
          fill-opacity="0.7"></path>
      </svg>
      <img src="/assets/images/location/location-10.min.png" alt="Dreamer" />
    </div>
  </div>
  <div class="description">
    <h2>{"Read Stories"}</h2>
    <h3 class="backdrop-blur-sm">
      Discover stories from all around the world by exploring the World Map.
      Click or tap on continents or countries and start discovering voices from
      our fellow dreamers.
    </h3>
    <div>
      <a rel="prefetch" href="/stories" class="gradient-button">
        <svg
          viewBox="0 0 33 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          style="margin-right: 12px;"
        >
          <g clip-path="url(#clip0_1415_5490)">
            <path
              d="M27.4803 20.9851C26.8604 18.7427 25.5193 16.7209 23.7659 15.2852C23.0277 14.5907 22.2479 13.9747 21.4263 13.4371C25.0009 12.0156 26.6951 7.88277 25.2735 4.30809C23.852 0.733416 19.7192 -0.960703 16.1445 0.460814C12.5698 1.88233 10.8757 6.0152 12.2972 9.58987C12.5595 10.2327 12.8634 10.797 13.2509 11.2044L12.3328 12.931L11.703 11.0861C11.1885 9.40304 9.38333 8.44323 7.62183 8.91605C5.93882 9.4306 4.94226 11.1155 5.45681 12.7985L6.81362 18.9563C6.38636 20.1385 6.23628 21.3675 6.2849 22.6014C6.30174 23.5164 6.47555 24.5149 6.73283 25.3564L5.93994 26.8476C5.68956 27.3185 5.83657 27.7994 6.30748 28.0498L16.9813 33.7251C17.3738 33.9338 17.9748 33.75 18.1835 33.3576L19.2685 31.317C21.7195 30.3048 23.7145 28.446 24.9247 26.17L27.3451 21.6179C27.5905 21.3457 27.5955 21.147 27.4803 20.9851ZM14.1364 4.42676C15.5135 1.83678 18.7176 0.922919 21.2659 2.37852C23.8558 3.75564 24.7697 6.95971 23.3141 9.50796C22.5629 10.9207 21.2674 11.8426 19.7096 12.1217L21.7961 8.19746C22.1177 7.49598 22.1587 6.69807 21.9109 5.96729C21.663 5.23651 21.145 4.62822 20.463 4.26712C19.092 3.43748 17.2103 3.94705 16.4592 5.35977L14.2892 9.44095C13.3722 7.94668 13.3803 6.03817 14.1364 4.42676ZM23.4753 25.2986C22.4687 27.3809 20.7191 28.9675 18.5503 29.8277C18.3098 29.9012 18.0694 29.9747 17.9442 30.2102L17.0679 31.8584L7.96369 27.0176L8.54792 25.9188C8.67311 25.6834 8.64134 25.3644 8.56783 25.124C8.26882 24.361 8.09003 23.5612 8.07319 22.6462C8.01959 21.611 8.20643 20.5022 8.55023 19.477C8.63369 19.32 8.63867 19.1213 8.64364 18.9226L7.25506 12.4459C7.1448 12.0853 7.15475 11.6879 7.36341 11.2955C7.53033 10.9815 7.89595 10.6726 8.2566 10.5623C9.05637 10.3835 9.84121 10.8008 10.1402 11.5638L11.2061 15.0501L9.95414 17.4046L11.8627 17.4127L17.8719 6.11092C18.2425 5.60326 18.9638 5.38274 19.5499 5.79507C20.0993 6.08719 20.44 6.77173 20.1479 7.32111L15.3489 16.3468L16.7516 17.4954L18.6713 13.8851C18.7915 13.8483 18.87 13.8901 18.9902 13.8533C19.5396 14.1454 20.0472 14.516 20.5549 14.8866L18.4266 18.8893L19.5572 19.7925L21.7272 15.7113L22.5438 16.4475C22.8945 16.7346 23.2034 17.1003 23.5124 17.4659L21.4259 21.3901L22.5564 22.2932L24.476 18.683C25.0155 19.3725 25.393 20.1772 25.6502 21.0187L23.4753 25.2986Z"
              fill="white"></path>
          </g>
          <defs>
            <clipPath id="clip0_1415_5490">
              <rect
                width="32"
                height="32"
                fill="white"
                transform="translate(0.5)"></rect>
            </clipPath>
          </defs>
        </svg>
        Explore Stories<br /> From World Map</a
      >
    </div>
  </div>
</div>
<style lang="scss">
  .read-stories {
    position: relative;
    .map-container {
      position: relative;
      width: 65%;
      height: auto;
      img {
        &.map {
          position: relative;
          width: 100%;
        }
      }
      &::after {
        content: "";
        position: absolute;
        background: var(--read-stories-gradient-background);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }
      .story {
        position: absolute;
        top: 28%;
        left: 38%;
        width: 20%;
        aspect-ratio: 188/209;
        img {
          position: absolute;
          width: 84%;
          top: 2%;
          right: 7.5%;
          border-radius: 5%;
        }
      }
      .location {
        position: absolute;
        width: 5%;
        height: auto;
        aspect-ratio: 0.75;
        transform-origin: bottom center;
        svg {
          position: relative;
          width: 100%;
        }
        img {
          position: absolute;
          width: 80%;
          top: 7%;
          left: 10%;
          transform-origin: 50% 50%;
        }
        &.scale {
          animation: scale 2s forwards;
        }
        @keyframes scale {
          0% {
            transform: scale(1);
          }
          70% {
            transform: scale(1.1);
          }
          100% {
            transform: scale(1);
          }
        }
      }
    }
    .description {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 50%;
      padding-left: 60px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 16px;
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(var(--accent));
        color: white;
        padding: 24px 20px;
        margin: 1rem auto;
        font-size: 16px;
        font-weight: 700;
        border-radius: 50px;
        text-decoration: none;
        width: 246px;
        &:hover,
        &:focus-within {
          background: rgb(var(--accent));
          animation: none;
        }
        svg {
          height: 32px;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .read-stories {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 30px;
      padding: 0 30px;
      .map-container {
        width: 100%;
        margin-bottom: 130px;
        overflow: hidden;
        transform: scale(2);
        z-index: -1;
      }
      .description {
        width: 100%;
        position: static;
        margin-bottom: 36px;
        padding: 0;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          a {
            font-size: 16px;
            position: absolute;
            bottom: 0;
            svg {
              height: 24px;
            }
          }
        }
      }
    }
  }
</style>
