<div class="social">
  <div class="social-icons">
    <a
      target="_blank"
      href="https://www.instagram.com/worlddreamproject/"
      aria-label="Visit our instagram page"
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M27.9294 11.0752C27.916 10.0654 27.7269 9.0656 27.3708 8.12056C27.0619 7.32343 26.5901 6.59949 25.9857 5.995C25.3812 5.39051 24.6572 4.91876 23.8601 4.6099C22.9272 4.25971 21.9417 4.07035 20.9454 4.0499C19.6628 3.99256 19.2561 3.97656 16.0001 3.97656C12.7441 3.97656 12.3268 3.97656 11.0534 4.0499C10.0576 4.0705 9.07256 4.25985 8.14009 4.6099C7.34284 4.91855 6.61879 5.39022 6.01427 5.99474C5.40975 6.59926 4.93808 7.32331 4.62943 8.12056C4.27854 9.05274 4.08959 10.038 4.07076 11.0339C4.01343 12.3179 3.99609 12.7246 3.99609 15.9806C3.99609 19.2366 3.99609 19.6526 4.07076 20.9272C4.09076 21.9246 4.27876 22.9086 4.62943 23.8432C4.9386 24.6402 5.41062 25.364 6.01534 25.9683C6.62006 26.5725 7.34418 27.044 8.14143 27.3526C9.07134 27.7168 10.0566 27.9197 11.0548 27.9526C12.3388 28.0099 12.7454 28.0272 16.0014 28.0272C19.2574 28.0272 19.6748 28.0272 20.9481 27.9526C21.9443 27.9329 22.9299 27.744 23.8628 27.3939C24.6597 27.0847 25.3834 26.6128 25.9879 26.0084C26.5923 25.4039 27.0642 24.6802 27.3734 23.8832C27.7241 22.9499 27.9121 21.9659 27.9321 20.9672C27.9894 19.6846 28.0068 19.2779 28.0068 16.0206C28.0041 12.7646 28.0041 12.3512 27.9294 11.0752V11.0752ZM15.9921 22.1379C12.5868 22.1379 9.82809 19.3792 9.82809 15.9739C9.82809 12.5686 12.5868 9.8099 15.9921 9.8099C17.6269 9.8099 19.1947 10.4593 20.3507 11.6153C21.5067 12.7713 22.1561 14.3391 22.1561 15.9739C22.1561 17.6087 21.5067 19.1765 20.3507 20.3325C19.1947 21.4885 17.6269 22.1379 15.9921 22.1379V22.1379ZM22.4014 11.0192C22.2126 11.0194 22.0256 10.9823 21.8512 10.9102C21.6767 10.838 21.5182 10.7321 21.3847 10.5986C21.2512 10.4651 21.1453 10.3066 21.0731 10.1321C21.001 9.95768 20.9639 9.7707 20.9641 9.5819C20.9641 9.39323 21.0013 9.20641 21.0735 9.03211C21.1457 8.8578 21.2515 8.69943 21.3849 8.56602C21.5183 8.43261 21.6767 8.32679 21.851 8.25459C22.0253 8.18239 22.2121 8.14523 22.4008 8.14523C22.5894 8.14523 22.7762 8.18239 22.9505 8.25459C23.1249 8.32679 23.2832 8.43261 23.4166 8.56602C23.55 8.69943 23.6559 8.8578 23.7281 9.03211C23.8003 9.20641 23.8374 9.39323 23.8374 9.5819C23.8374 10.3766 23.1948 11.0192 22.4014 11.0192Z"
          fill="currentColor"></path>
        <path
          d="M15.9923 19.9768C18.2036 19.9768 19.9963 18.1841 19.9963 15.9728C19.9963 13.7614 18.2036 11.9688 15.9923 11.9688C13.7809 11.9688 11.9883 13.7614 11.9883 15.9728C11.9883 18.1841 13.7809 19.9768 15.9923 19.9768Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>
  <div class="social-icons">
    <a
      target="_blank"
      href="https://www.tiktok.com/@wehaveadream_worldroad"
      aria-label="Visit our tiktok page"
    >
      <svg
        width="22"
        height="25"
        viewBox="0 0 22 25"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M18.3637 4.83874C17.5594 4.31467 16.8983 3.59767 16.4403 2.75273C15.9823 1.90779 15.7419 0.961627 15.7408 0H11.5998L11.5926 16.6313C11.5665 17.3147 11.3404 17.9753 10.9426 18.5309C10.5447 19.0865 9.99264 19.5125 9.35506 19.7559C8.71748 19.9993 8.02257 20.0493 7.35685 19.8997C6.69114 19.7501 6.08402 19.4075 5.61109 18.9146C5.13815 18.4216 4.82029 17.8001 4.69709 17.1275C4.57388 16.4548 4.65077 15.7607 4.91818 15.1315C5.18559 14.5023 5.6317 13.9658 6.20099 13.5889C6.77027 13.212 7.43757 13.0113 8.11981 13.0117C8.46826 13.0129 8.8145 13.0672 9.14661 13.1729V8.93632C8.80642 8.8882 8.46336 8.86329 8.11981 8.86175C3.91812 8.86175 0.5 12.2875 0.5 16.4999C0.503085 18.5251 1.30709 20.4665 2.73577 21.8984C4.16444 23.3302 6.10118 24.1358 8.12141 24.1385C12.3227 24.1385 15.7408 20.7128 15.7408 16.4999V8.06658C17.4184 9.27659 19.4333 9.92662 21.5 9.92454V5.77336C20.3861 5.77428 19.2962 5.44948 18.3637 4.83874V4.83874Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>
  <div class="social-icons">
    <a
      target="_blank"
      href="https://twitter.com/worlddreamprj"
      aria-label="Visit our twitter page"
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M31.5237 6.58342C30.4104 7.07675 29.2144 7.41009 27.957 7.56075C29.2544 6.78448 30.2249 5.56271 30.6877 4.12342C29.4688 4.84741 28.1348 5.35701 26.7437 5.63009C25.8082 4.63124 24.5691 3.96919 23.2188 3.74672C21.8685 3.52425 20.4825 3.75381 19.276 4.39976C18.0695 5.04571 17.1101 6.0719 16.5466 7.31903C15.9831 8.56615 15.8471 9.96442 16.1597 11.2968C13.6899 11.1727 11.2739 10.5308 9.06826 9.41263C6.86265 8.29443 4.91681 6.72497 3.35702 4.80609C2.82369 5.72609 2.51702 6.79275 2.51702 7.92875C2.51643 8.95141 2.76827 9.95841 3.2502 10.8604C3.73212 11.7624 4.42924 12.5315 5.27969 13.0994C4.29339 13.068 3.32885 12.8015 2.46636 12.3221V12.4021C2.46626 13.8364 2.9624 15.2266 3.8706 16.3367C4.7788 17.4469 6.04312 18.2087 7.44902 18.4928C6.53407 18.7404 5.57481 18.7768 4.64369 18.5994C5.04035 19.8336 5.81302 20.9128 6.85351 21.686C7.89401 22.4592 9.15025 22.8877 10.4464 22.9114C8.24613 24.6386 5.52887 25.5755 2.73169 25.5714C2.2362 25.5716 1.74113 25.5426 1.24902 25.4848C4.08833 27.3103 7.39348 28.2792 10.769 28.2754C22.1957 28.2754 28.4424 18.8114 28.4424 10.6034C28.4424 10.3368 28.4357 10.0674 28.4237 9.80075C29.6387 8.92205 30.6876 7.83395 31.521 6.58742L31.5237 6.58342Z"
          fill="currentColor"></path>
      </svg>
    </a>
  </div>
  <div class="social-icons">
    <a
      target="_blank"
      href="https://www.facebook.com/WorldRoadInc/"
      aria-label="Visit our facebook page"
    >
      <svg
        width="32"
        height="32"
        viewBox="0 0 32 32"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g clip-path="url(#clip0_792_1510)">
          <path
            d="M32.0001 16.0961C32.0001 7.20409 24.8361 -0.00390625 16.0001 -0.00390625C7.16009 -0.00190625 -0.00390625 7.20409 -0.00390625 16.0981C-0.00390625 24.1321 5.84809 30.7921 13.4961 32.0001V20.7501H9.43609V16.0981H13.5001V12.5481C13.5001 8.51409 15.8901 6.28609 19.5441 6.28609C21.2961 6.28609 23.1261 6.60009 23.1261 6.60009V10.5601H21.1081C19.1221 10.5601 18.5021 11.8021 18.5021 13.0761V16.0961H22.9381L22.2301 20.7481H18.5001V31.9981C26.1481 30.7901 32.0001 24.1301 32.0001 16.0961Z"
            fill="currentColor"></path>
        </g>
        <defs>
          <clipPath id="clip0_792_1510">
            <rect width="32" height="32" fill="currentColor"></rect>
          </clipPath>
        </defs>
      </svg>
    </a>
  </div>
</div>
<style lang="scss">
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1em;
  }
  .social-icons {
    margin: 0 1em;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-color: rgba(var(--color), 10%);
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      height: 32px;
      width: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      &,
      &:visited {
        color: rgb(var(--color));
        text-decoration: none;
      }
      &:hover,
      &:focus-within {
        color: rgb(var(--accent));
      }
    }
  }
  @media (max-width: 768px) {
    .social-icons {
      margin: 0 0.5em;
    }
  }
</style>
