---
import { SEO } from "astro-seo";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

export interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <SEO
      title={title === "Home"
        ? "World of Story - Discover dreams and stories from around the world"
        : title + " - World of Story"}
      description={description ||
        "Discover dreams and stories from around the world - WE HAVE A DREAM"}
      openGraph={{
        basic: {
          title:
            title === "Home"
              ? "World of Story - Discover dreams and stories from around the world"
              : title + " - World of Story",
          type: "website",
          image:
            image ||
            "https://worldofstory.worldroad.org/assets/images/og-image.min.png",
        },
        optional: {
          description:
            description ||
            "Discover dreams and stories from around the world - WE HAVE A DREAM",
        },
        image: {
          alt: "World of Story",
        },
      }}
    />
    <script
      async
      src={"https://www.googletagmanager.com/gtag/js?id=G-WFEVRV0KE6"}
      is:inline
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-WFEVRV0KE6");
    </script>
    <script is:inline>
      (function (h, o, t, j, a, r) {
        h.hj =
          h.hj ||
          function () {
            (h.hj.q = h.hj.q || []).push(arguments);
          };
        h._hjSettings = { hjid: 3359190, hjsv: 6 };
        a = o.getElementsByTagName("head")[0];
        r = o.createElement("script");
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
      })(window, document, "https://static.hotjar.com/c/hotjar-", ".js?sv=");
    </script>
    <script
      src="https://code.iconify.design/iconify-icon/1.0.3/iconify-icon.min.js"
      is:inline
    ></script>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title === "Home" ? "World of Story" : title + " - World of Story"}
    </title>
  </head>
  <body class="vertical-scroll">
    <Nav />
    <slot />
    <Footer />
    <style is:global lang="scss">
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      :root {
        --accent: 0, 129, 155;
        --background-light: #f1ece4;
        --background: 255, 255, 255;
        --color: 0, 0, 0;
        --navigation-background: linear-gradient(
          180deg,
          rgba(241, 236, 228, 0.5) 84.9%,
          rgba(241, 236, 228, 0.5) 100%
        );
        --story-background: 254, 253, 247;
        --filter-modal-background: rgba(255, 255, 255, 0.96);
        --filter-modal-stroke: #f1ece4;
        --input-background: 224, 222, 222;
        --input-placeholder-color: 83, 80, 80;
        --button-hover: #212121;
        --button-gradient-1: linear-gradient(
          93.51deg,
          #00819b 48.2%,
          #01679b 88.25%
        );
        --button-gradient-2: linear-gradient(
          87.56deg,
          #00639b 14.08%,
          #00819b 50.75%
        );
        --read-stories-gradient-background: linear-gradient(
          354deg,
          rgba(255, 255, 255, 1) 0%,
          rgba(9, 9, 121, 0) 37%,
          rgba(95, 95, 168, 0) 73%,
          rgba(255, 255, 255, 1) 100%
        );
      }
      .dark-content {
        display: none;
      }
      .light-content {
        display: block;
      }
      @media (prefers-color-scheme: dark) {
        .dark-content {
          display: block;
        }
        .light-content {
          display: none;
        }
        :root {
          --background-light: #151414;
          --background: 0, 0, 0;
          --color: 255, 255, 255;
          --navigation-background: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.35) 84.9%,
            rgba(0, 0, 0, 0.275) 100%
          );
          --filter-modal-background: rgba(21, 20, 20, 0.96);
          --filter-modal-stroke: #2a2815;
          --input-background: 42, 40, 40;
          --input-placeholder-color: 192, 190, 190;
          --read-stories-gradient-background: linear-gradient(
            354deg,
            rgba(0, 0, 0, 1) 0%,
            rgba(9, 9, 121, 0) 37%,
            rgba(95, 95, 168, 0) 73%,
            rgba(0, 0, 0, 1) 100%
          );
        }
      }
      html {
        font-family: Inter, sans-serif;
        background-color: rgb(var(--background));
        color: rgb(var(--color));
        body {
          &.open {
            overflow: hidden;
          }
        }
      }
      .horizontal-scroll {
        overflow-x: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
      .vertical-scroll {
        overflow-y: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    </style>
  </body>
</html>
